<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- mybatis-config的模板-->

    <!--  加载数据库（数据源）配置信息  -->
    <properties resource="datasource/mysql.properties"/>

    <!--  设置mybatis的属性  -->
    <settings>
        <!--启动二级缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!--启动延时加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

    <!--  用于给实体类取别名，在映射文件中可以使用别名来代替实体类的全限定名，详见xml文件  -->
    <typeAliases>
        <typeAlias alias="Student" type="com.marshio.pojo.Student"/>
    </typeAliases>

    <!--配置插件，如分页插件    -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>

<!--    <typeHandlers>-->

<!--    </typeHandlers>-->

    <!-- 在 environments中配置多个environment标签,default指定默认连接的数据库-->
    <environments default="mysql">
        <!-- 每个environment中可以配置一个数据库连接信息,id用于指定当前数据库连接信息的唯一标识-->
        <environment id="mysql">

            <!--transactionManager标签用于配置数据库管理方式，type 取值为 JDBC 或 MANAGED-->
            <!--JDBC：可以进行事务的提交或回滚操作-->
            <!--MANAGED：依赖Spring完成事务的管理，本身不能进行事务的回滚或提交-->
            <transactionManager type="JDBC"/>

            <!--配置数据库连接信息 ， type的取值为 POOLED 或 UNPOOLED 或 JNDI-->
            <!--POOLED：-->
            <!--UNPOOLED：-->
            <!--JNDI：配置第三方数据源连接信息-->
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"/>
                <!--docker构建镜像出现：IPv4 forwarding is disabled. Networking will not work.
                    解决：https://zhuanlan.zhihu.com/p/374715083 -->
                <!-- home -->
                <!--<property name="url" value="jdbc:mysql://192.168.130.134:3306/mas?useSSL=false"/>-->
                <!--com-->
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>

    </environments>

    <!--用于载入映射文件xml，以及 Dao 类-->
    <mappers>
        <mapper resource="mappers/StudentMapper.xml"/>
    </mappers>
</configuration>