<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- mybatis-config的模板-->

    <!--  加载数据库（数据源）配置信息  -->
    <properties resource="datasource/mysql.properties"/>

    <!-- 在-environments中配置多个environment标签-->
    <!-- 每个environment中可以配置一个数据库连接信息,default指定默认连接的数据库-->

    <environments default="mysql">

        <environment id="mysql">
            <!--配置数据库管理方式-->
            <transactionManager type="JDBC"/>
            <!--配置数据库连接信息-->
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"/>
                <!--docker构建镜像出现：IPv4 forwarding is disabled. Networking will not work.
                    解决：https://zhuanlan.zhihu.com/p/374715083 -->
                <!-- home -->
                <!--<property name="url" value="jdbc:mysql://192.168.130.134:3306/mas?useSSL=false"/>-->
                <!--com-->
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>

    </environments>

    <mappers>
        <mapper resource="mappers/StudentMapper.xml"/>
    </mappers>
</configuration>